/* google font montserrat */
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* tailwind import */
@import "tailwindcss";

/* custom css */
.container2 {
  @apply w-full max-w-[1400px] mx-auto px-5;
}
.active {
  @apply font-bold;
}

body {
  background: var(--color-gray-900);
  color: var(--color-gray-200);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

[data-theme="light"] {
  --color-gray-900: #ffffff;
  --color-gray-800: #eeeeee;
  --color-gray-500: #4a4a4a;
  --color-gray-200: #000;
}

[data-theme="dark"] {
  --color-gray-900: #111111;
  --color-gray-800: #242424;
  --color-gray-500: #636262;
  --color-gray-200: #fff;
  /* --color-naim: green; */
}
