@import "tailwindcss";
/* @plugin "daisyui"; */

/* custom css */
.container2 {
  @apply w-full max-w-[1400px] mx-auto;
}
body {
  background: var(--color-gray-900);
  color: var(--color-gray-200);
}

[data-theme="light"] {
  --color-gray-900: #ddd;
  --color-gray-800: #d3d0d0;
  --color-gray-500: #4a4a4a;
  --color-gray-200: #000;
}

[data-theme="dark"] {
  --color-gray-900: #111111;
  --color-gray-800: #242424;
  --color-gray-500: #636262;
  --color-gray-200: #fff;
  /* --color-naim: green; */
}
